@model PropTabTabIK.Entities.SideEntities.AdvancePayment

@{
    ViewData["Title"] = "Requests";
    //List<AllowRequest> allowRequests = ViewBag.AllowRequest;

}

<h1>İzinler</h1>

<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Anasayfa</h1>

                <div class="separator mb-5"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="AllowRequest">
                            <button class="prop-button primary float-right " color="primary" data-toggle="modal" data-target="#exampleModal">AVANS TALEP ET</button>
                            @if (TempData["Hata"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>@TempData["Hata"].ToString()</strong>
                                </div>
                            }
                        </div>
                        @if (TempData["Hata"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>@TempData["Hata"].ToString()</strong>
                            </div>
                        }

                        @if (TempData["DateInclude"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>@TempData["DateInclude"].ToString()</strong>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="simple-icon-plane"></i>&nbsp;İzin günü</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="PaymentRequest" method="post">
                <div class="modal-body">
                    <span>İzin Türü</span>
                    <select asp-for="AdvancePaymentType" class="form-control  select2-single" asp-items="Html.GetEnumSelectList<PropTabTabIK.Core.Enum.AdvancePaymentType>()"></select>
                    <div class="input-group-addon mt-3">Avans Miktarı</div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Amount (in Swiss Francs)</label>
                                <div class="input-group">
                                    
                                    <input asp-for="Amount" type="number" min="100" step="0.25" value="250" id="exampleInputAmount" class="form-control" placeholder="Price">&nbsp;₺
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none">
                            <input asp-for="State" value="@PropTabTabIK.Core.Enum.State.Pending" />
                            <input asp-for="CompanyDescription" />
                            <input asp-for="EmployeeID" value="@ViewBag.EmployeeID" />
                        </div>
                    </div>

                    <div class="row">

                    </div>
                    <label asp-for="Description" class="request-label"><span>Açıklama<br /></span></label>
                    <textarea asp-for="Description" rows="2" class="form-control"></textarea>

                </div>
                <div class="modal-footer">
                    <button color="dark-outlined" type="button" class="prop-button dark-outlined close" data-dismiss="modal" aria-label="Close"> İptal</button>
                    <button color="primary" type="submit" class="prop-button primary"> Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>



